:root {
  --bgColor: #00012a;
  --accentColor: #ffffff;
  --desabColor: #90a6ab;
  --bglinkColor: #e7e7e7;
  --textColor1: #000000;
  --textColor2: #9a9aa8;
  --font: "Asap", sans-serif;
}

body {
  font-family: var(--font);
  
  margin: 10px;
  box-sizing: border-box;
  
  background-color: var(--bgColor);
  
  -webkit-font-smoothing: antialiased;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(2, 1fr);
  
  height: 100%;
}

.header {
  grid-column: 1 / -1;
  align-items: center;
  text-align: center;
}

.content {
  grid-column: 1 / -1;
  align-items: center;
  text-align: center;
}

.block {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-auto-rows: 100px;
}

.block a{
  text-transform: lowercase;
}

.footer {
  grid-column: 1 / -1;
  align-items: center;

  text-align: center;
}

.footer img {
  width: 200px;
}

.madewith {
  color: var(--textColor2);
  font-size: 0.6rem;
}

.madewith a {
  color: var(--textColor2);
  font-size: 0.6rem;
}

.group {
  display: block;
  
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.25;
  width: 100%;
  margin-bottom: 5px;
  
  color: var(--accentColor);
}

.userPhoto {
  width: 120px;
  height: 120px;
  margin-top: 15px;
  margin-bottom: 10px;
  
  border: solid var(--accentColor) 2px;
  border-radius: 50%;

  animation: preencher 0.5s ease forwards 6s;
}

#logoAnimacao path:nth-child(1) {
  stroke-dasharray: 985px;
  stroke-dashoffset: 985px;
  animation: animacao 6s ease forwards;
}

@keyframes animacao {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes preencher {
  from {
    fill: transparent;
  }
  to {
    fill: var(--accentColor);
  }
}

#nomePage {
  display: block;

  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.25;
  width: 100%;
  
  color: var(--accentColor);
}

#userName {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  width: 100%;
  text-decoration: none;
  
  color: var(--textColor2);
}

#links {
  max-width: 600px;
  width: auto;
  display: block;
  margin: 20px auto;
}

.link {
  display: block;
  
  font-size: 16px;
  text-decoration: none;
  
  margin: 5px;
  padding: 15px 2px;
  
  color: var(--bgColor);
  background-color: var(--bglinkColor);
  border: solid var(--bglinkColor) 2px;
  border-radius: 6px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  
  transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}

.link:hover {
  color: var(--bglinkColor);
  background-color: var(--bgColor);
  
  transition: transform 0.3s ease-in-out;
  transform: scale(1.03);
}

.link-desabilitado {
  display: block;
  
  text-decoration: none;
  font-size: 16px;
  
  padding: 28px 2px;
  margin: 5px;

  color: var(--bgColor);
  background-color: var(--desabColor);
  border: solid var(--desabColor) 2px;
  border-radius: 6px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  
  transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}


.link-popup {
  display: block;
  
  text-decoration: none;
  font-size: 13px;
  
  align-items: center;
  margin: 5px 5px 5px 5px;
  padding: 15px;
  
  color: var(--bgColor);
  background-color: var(--bglinkColor);
  border: solid var(--bglinkColor) 2px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  
  transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}

.link-popup:hover {
  color: var(--bglinkColor);
  background-color: var(--bgColor);
  
  transition: background-color 0.4s ease-in-out;
  transform: scale(1.01);
}

.link-zoom{
  display: block;

  text-decoration: none;
  font-size: 16px;
  
  padding: 28px 2px;
  margin: 5px;
  
  color: var(--bgColor);
  background-color: var(--bglinkColor);
  border: solid var(--bglinkColor) 2px;
  border-radius: 6px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  
  transition: all 0.8s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}

.link-zoom:hover{

  font-size: 16px;

  padding: 20px 2px;

  color: var(--bglinkColor);
  background-color: var(--bgColor);
  
  transition: all 0.8s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}


.overlay {
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  pointer-events: none;
  
  background: rgba(0, 1, 42, 0.85);
  
  opacity: 0;
  visibility: hidden;
  transition: 800ms ease-in-out;
}

.overlay:target {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  text-align: center;
  align-items: center;
  border-radius: 6px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: var(--textColor1);
}

.popup .close {
  position: absolute;
  top: 0.5px;
  right: 10px;
  transition: all 1s ease-in-out;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--bgColor);
}
.popup .close:hover {
  color: var(--desabColor);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.aviso {
  font-size: small;
}


.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  }
  
@media screen and (max-width: 600px){
.popup{
      width: 80%;
}

.link {
  font-size: small;
}

.link:hover {
  color: var(--bgColor);
  background-color: var(--bglinkColor);
  
  transition: none;
  transform: none;
}

.link-zoom{
      font-size: small;
      padding: 15px 2px;
      margin: 5px;
    
}

.link-zoom:hover{
      font-size: small;
      padding: 15px 2px;
      transition: none;
      color: var(--bgColor);
      background-color: var(--bglinkColor);
}

.link-desabilitado{
      font-size: small;
      padding: 15px 2px;
      margin: 5px;
}
}

@media screen and (max-width: 640px){
.popup {
      width: 80%;
    }
.link-zoom{
      font-size: small;
      padding: 15px 2px;
      margin: 5px;
    
}

.selecionados a{
      font-size: small;
      padding: 30px 2px;
      margin: 5px;
    
}

.link-zoom:hover{
      font-size: small;
      padding: 15px 2px;
      transition: none;
      color: var(--bgColor);
      background-color: var(--bglinkColor);
}

.link-desabilitado{
      font-size: small;
      padding: 15px 2px;
      margin: 5px;
}

}


